[submodule "linuxserver"]
	path = linuxserver
	url = https://github.com/linuxserver/docker-sonarr
	branch = develop
[submodule "hotio"]
	path = hotio
	url = https://github.com/hotio/sonarr
	branch = v4
